<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add comment</title>
</head>
<body>
    <h1>add comment</h1>
    <form action="{{ url_for('add_new_comment') }}" method="POST">
        <label for="RecipeID">enter recipe id</label>
        <input type="text" id="RecipeID" name="RecipeID" required><br><br>

        <label for="Content">enter youre comment</label>
        <textarea id="Content" name="Content" required></textarea><br><br>

        <button type="submit">add comment</button>
    </form>

</body>
</html>