<!DOCTYPE html>
<html>
<head>
    <title>Add Recipe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addRecipe.css') }}">
</head>
<body>
    <h2>Add a Recipe</h2>
    <form method="POST" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Title" required>
        <textarea name="description" placeholder="Description"></textarea>
        <textarea name="ingredients" placeholder="Ingredients" required></textarea>
        <textarea name="instructions" placeholder="Instructions" required></textarea>
        <label for="image">Image:</label>
        <input type="file" name="image" id="image">

        <button type="submit">Add Recipe</button>
    </form>
</body>
</html>

