<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipe comment</title>
</head>
<body>
    <h1>recipe comment</h1>

    {% if message %}
        <p>{{ message }}</p>
    {% else %}
        <ul>
            {% for comment in comments %}
                <li>{{ comment.content }} - <strong>{{ comment.username }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{{ url_for('view_recipe') }}">חזור למתכון</a>
</body>
</html>
