<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipe in 10 minitues</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/server.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('add_new_recipe') }}">Add recipe</a>
            {% if user_id %}
                <a href="{{ url_for('dashboard') }}">Youre recipe</a>
                <a href="{{ url_for('logout') }}">Log out</a>
            {% else %}
                <a href="{{ url_for('login') }}">Log in</a>
                <a href="{{ url_for('add_new_user') }}">Sign in</a>
            {% endif %}
        </nav>
    </header>
      <div class="logo">
            <img src="{{ url_for('static', filename='uploads/wallper.png') }}" alt="לוגו האתר">
        </div>
        <form action="{{ url_for('get_recipe_by_title') }}" method="POST">
            <input type="text" name="title" placeholder="Search recipe" required>
            <button type="submit">search</button>
        </form>
</body>
</html>
