<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe App</title>
</head>
<body>
    <h1>Welcome to Recipe App</h1>
    <ul>
        <li><a href="/sign_in">Sign In</a></li>
        <li><a href="/log_in">Log In</a></li>
        <li><a href="/get_recipe_by_title">View Recipe</a></li>

        <li><a href="/delete_comment">Delete Comment</a></li>
        <li><a href="/delete_recipe">Delete Recipe</a></li>
    </ul>
</body>
</html>
