<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>

</head>
<body>
    <h1>Welcome to Your Dashboard</h1>
    <button onclick="location.href='/add_recipe'">Add Recipe</button>
    <button onclick="location.href='/delete_user'">Delete User</button>
    <button onclick="location.href='/get_recipe_by_title'">View Recipe</button>
    <button onclick="location.href='/logout'">Logout</button>
</body>
</html>
